@media screen and (max-width: 991px) {
    .admin-portfolio {

        .portfolio-wrapper {
            flex-direction: column;
    
            .portfolio-card {
                width: calc((100% / 2) - 15px);
            }
        }

        .portfolio-single {
            // 

            .single-folio {
                // 

                .introduction {
                    flex-direction: column;

                    .hero {
                        width: 100%;
                        padding: 0;
                        margin: 0 0 15px 0;
                        text-align: center;

                        img {
                            padding: 15px;
                            width: 100%;
                            max-width: 550px;
                            // border-radius: 25px;
                        }
                    }

                    .banner {
                        width: 100%;

                        .project-infos {
                            // 

                            .title {
                                margin: 0;
                            }

                            .infos {
                                padding-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}