@media screen and (max-width: 991px) {
    .admin-profile .profile {
        flex-direction: column;
        flex: 1;

        .profile-image, .profile-infos {
            margin: 0 0 20px 0;
            width: 100%;
        }
    }
}