.admin-experience {
    width: 100%;
    margin: 25px 0;

    .experience-add {
        margin-top: 15px;

        .experience-form {
            // 

            .participateProjects-tags {
                padding: 0;
                list-style: none;

                li {
                    gap: 10px;
                    display: flex;
                    flex-direction: column;

                    &:not(:last-child) {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
}