.admin-witnesses {
    
    button {
        margin-bottom: 25px;
    }

    .witnesses-table {
        // Mobile
        @media (max-width: 768px) {
            tbody {
                tr {
                    td {

                        &:nth-child(1):before {
                            text-align: left;
                            content: "Société";
                        }

                        &:nth-child(2)::before {
                            text-align: left;
                            content: "Contact :";
                        }

                        &:nth-child(3)::before {
                            text-align: left;
                            content: "Commentaire :";
                        }

                        &:nth-child(4)::before {
                            text-align: left;
                            content: "Action :";
                        }
                    }
                }
            }
        }
    }
}