{% extends 'baseAdmin.html.twig' %}

{% block page_content %}
    <a class="btn btn-primary" href="{{ path("admin_price_new") }}">Ajouter un prix</a>

    <div class="mt-25px">
        {% for price in prices %}
            <div class="card">
                <div class="-header"></div>
                <div class="-content"></div>
                <div class="-footer">
                    <a class="btn btn-primary -inline-flex" href="{{ path("adminEditPrice") }}">
                        <img src="{{ asset("/content/images/svg/pencil.svg") }}" alt="" />
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}