@media screen and (max-width: 767px) {
    .aboutMe-skills {
        
        .skills-content {
            display: block;
            margin-bottom: 20px;

            .skills-card {
                margin-bottom: 50px;
                padding-bottom: 20px;
            }
        }
    }
}