@media screen and (max-width: 767px) {
    .aboutMe-skills {
        
        .skills-content {
            margin-bottom: 20px;
            display: block;

            .skills-card {
                // height: 100%;
                padding-bottom: 20px;
                margin-bottom: 50px;
            }
        }
    }
}