{% extends 'baseAdmin.html.twig' %}

{% block body %}

    {% if message != '' %}
        <div class="{{ message.class }}">
            <span>{{message.message}}</span>
        </div>
    {% endif %}

    <h3>Profile</h3>
    
    {{ form(form, {'action': path('adminAbout'), 'method': 'POST'}) }}
    {{ form_end(form, {'action': path('adminAbout'), 'method': 'POST'}) }}
    
{% endblock %}
