{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h3>Profile</h3>
    
    {{ form(form, {'action': path('adminAbout'), 'method': 'POST'}) }}
    {{ form_end(form, {'action': path('adminAbout'), 'method': 'POST'}) }}
    </form>
{% endblock %}
