{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h3>Welcome Admin</h3>

    <div class="row text-center">
        <div class="col-4">
            <div style="height: 200px; background-color: #ffffff; box-shadow: 5px 3px #000; border-radius: 25px;">
                <div style="font-size: 40px; font-weight: bold; padding-top: 50px;">
                    <span style="color: green;">10</span>
                </div>
                <span>projets</label>
            </div>
        </div>
        <div class="col-4">
            <div style="height: 200px; background-color: #ffffff; box-shadow: 5px 3px #000; border-radius: 25px;">
                <div style="font-size: 40px; font-weight: bold; padding-top: 50px;">
                    <span style="color: green;">10</span>
                </div>
                <span>projets</label>
            </div>
        </div>
        <div class="col-4">
            <div style="height: 200px; background-color: #ffffff; box-shadow: 5px 3px #000; border-radius: 25px;">
                <div style="font-size: 40px; font-weight: bold; padding-top: 50px;">
                    <span style="color: green;">10</span>
                </div>
                <span>contacts</label>
            </div>
        </div>
    </div>
{% endblock %}