{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="admin-home">
        <h1>Dashboard</h1>

        <div class="admin-cards">
            <div class="admin-card">
                <h4 class="admin-card-suptitle">Visitors</h4>
                <span>1</span>
            </div>

            <div class="admin-card">
                <h4 class="admin-card-suptitle">Works realised</h4>
                <span>49</span>
            </div>

            <div class="admin-card">
                <h4 class="admin-card-suptitle">Professional experience</h4>
                <span>3 years</span>
            </div>
        </div>

        <div class="admin-lasted">
            <h2 class="admin-lasted-title">Lasted activity</h2>

            <div class="admin-tables">
                <div class="admin-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Work</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="f-left">
                                        Portfolio (v4)
                                    </div>
                                    <div class="f-right">
                                        04/05/2022
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="f-left">
                                        WikiEarth API
                                    </div>
                                    <div class="f-right">
                                        28/03/2022
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="f-left">
                                        WikiEarth
                                    </div>
                                    <div class="f-right">
                                        18/01/2022
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="admin-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="f-left">
                                        Garry DE ALMEIDA
                                    </div>
                                    <div class="f-right">
                                        04/05/2022
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="admin-lasted">
            <h2 class="admin-lasted-title">Lasted work experience</h2>

            <div class="admin-tables">
                <div class="admin-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Experience</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="f-left">
                                        Creano
                                    </div>
                                    <div class="f-right">
                                        today
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="f-left">
                                        FFGolf
                                    </div>
                                    <div class="f-right">
                                        March 2019
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="f-left">
                                        FFGolf
                                    </div>
                                    <div class="f-right">
                                        June 2018
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}