/*------------------------------------------------------------------- 
								Contact forms
-------------------------------------------------------------------*/
.contact-form {
    width: 100%;

    .form-text {
        width: 100%;

        input, textarea {
            width: 100%;
        }

        input {
            height: 25px;
        }
    }

    .form-button {
        width: 100%;
    }
}