.portfolio-form {
    padding: 25px;
    border-radius: 10px;
    background-color: var(--c-white);
    border: 1px solid var(--c-lightGray);
    box-shadow: 1px 1px 4px var(--c-lightGray);

    .form-field {
        display: block;

        &:not(:first-child) {
            padding-top: 15px;
        }

        label {
            font-weight: 700;
        }

        input, textarea, select {
            width: -webkit-fill-available;
            width: -moz-available;
            margin-top: 5px;
        }

        input:not([type="file"]), textarea, select {
            padding: 5px 15px;
            border-radius: 25px;
            border: 1px solid var(--c-lightGray);
        }

        input {
            height: 25px;
        }

        textarea {
            height: 80px;
            padding: 15px;
        }

        select {
            height: 30px;

            &[multiple] {
                height: 150px;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    .form-button {
        text-align: right;
        padding-top: 25px;
    }
}