<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1">
        <link href="{{ asset('content/img/Logo/Logo_G-Black.png') }}" rel="icon">
        <link href="{{ asset('content/img/Logo/Logo_G-Black.png') }}" rel="apple-touch-icon">
        <title>Garry Almeida &minus; Développeur Web FullStack</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>
