/* ---------------------------------------- *\
                    Alert
\* ---------------------------------------- */
.alert {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;

    &.alert-information {
        border: 1px solid var(--c-gray);
        background-color: var(--c-gray);
        color: var(--c-white);
    }

    &.alert-danger {
        border: 1px solid var(--c-red);
        background-color: var(--c-red);
        color: var(--c-white);
    }

    &.alert-success {
        border: 1px solid var(--c-green);
        background-color: var(--c-green);
        color: var(--c-white);
    }

    &.alert-warning {
        border: 1px solid var(--c-orange);
        background-color: var(--c-orange);
    }
}