.article {
    gap: 15px;
    display: flex;

    @include tablet {
        flex-direction: column;
    }

    .-preview {
        width: calc(100% - 350px);

        @include tablet {
            width: 100%;
        }
    }

    .-infos {
        max-width: 350px;

        @include tablet {
            max-width: 100%;
        }

        .-infos-list {
            margin: 0;
            padding: 0;

            .-infos-item:not(:first-child) {
                margin-top: 5px;
            }
        }
    }
}