/* ----------------------------------------------- *\
    Card
\* ----------------------------------------------- */
.card {
    padding: 15px;
    background-color: var(--c-white);
    box-shadow: 3px 3px 4px var(--c-lightGray);

    &.-column {
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    .-header {
        font-weight: 700;
    }

    .-content {
        // 
    }

    .-footer {
        // 
    }
}