form {
    // 
    
    .form-field {
        flex: 1;
        display: flex;
        flex-direction: column;
        line-height: 30px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        label {
            gap: 5px;
            display: flex;
            padding-bottom: 5px;

            &[for] {
                font-weight: 700;
            }

            span {
                margin: auto 0;
            }
        }

        input:not([type="file"]) {
            height: 35px;
            padding: 0 20px;
            border-radius: 25px;
            border: 1px solid var(--c-silver);
        }

        textarea {
            height: 80px;
            padding: 20px;
            border-radius: 25px;
            border: 1px solid var(--c-silver);
        }
    }

    .form-radio {
        // 
    }

    .form-select {
        // 
    }

    .form-button {
        margin: 20px 0;
        text-align: right;

        .btn:not(:first-child) {
            margin-left: 10px;
        }
    }
}