/* ---------------------------------------- *\
    Width
\* ---------------------------------------- */
.w-100px {
    width: 100px;
    margin-bottom: 10px;
}

.w-150px {
    width: 150px;
}

.w-250px {
    width: 250px;
    margin-bottom: 10px;
}

.w-33 {
    width: calc(100% / 3);
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100% !important;
}


/* ---------------------------------------- *\
    Height
\* ---------------------------------------- */
.h-40px {
    height: 40px;
}

.h-150px {
    margin-bottom: 10px;
    height: 150px !important;
}

.h-180px {
    height: 180px;
}

.h-200px {
    height: 200px;
}

.h-100 {
    height: 100%;
}

/* ---------------------------------------- *\
    Margin
\* ---------------------------------------- */
.m-0 {
    margin: 0;
}

.mt-10px {
    margin-top: 10px !important;
}

.mt-15px {
    margin-top: 15px;
}

.mt-25px {
    margin-top: 25px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-15px {
    margin-bottom: 15px;
}

.mb-25px {
    margin-bottom: 25px;
}


/* ---------------------------------------- *\
    Padding
\* ---------------------------------------- */
.p-0 {
    padding: 0;
}

.p-5px {
    padding: 5px;
}


/* ---------------------------------------- *\
    Radius
\* ---------------------------------------- */
.br-5px {
    border-radius: 5px;
}

.br-15px {
    border-radius: 15px;
}

/* ----------------------------------------------- *\
    Background
\* ----------------------------------------------- */
.bg-white {
    background-color: var(--c-white);
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.85) !important;
}


/* ---------------------------------------- *\
    Texte
\* ---------------------------------------- */
.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-uppercase {
    text-transform: uppercase;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.txt-bold {
    font-weight: 600;
}

.bold-green {
    font-weight: bold;
    color: var(--c-green);
}


/* ---------------------------------------- *\
    List
\* ---------------------------------------- */
.no-list-style {
    list-style: none;
}

/* ---------------------------------------- *\
    Display
\* ---------------------------------------- */
.d-flex-col {
    gap: 15px;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;

        &.-column {
            flex-direction: column;
        }

        div {
            height: auto;
        }
    }

    @include mobile {
        flex-direction: row;

        &.-mobile-column {
            flex-direction: column;
        }
    }

    &.-reverse {
        @include mobile {
            flex-direction: column-reverse;
        }
    }
}

.d-flex {
    gap: 15px;
    display: flex;

    @include tablet {
        flex-direction: row;

        div {
            height: auto;
        }
    }
}

.g-5px {
    gap: 5px !important;
}