/* ----------------------------------------------- *\
    Table
\* ----------------------------------------------- */
table {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    border-collapse: collapse;
    background-color: var(--c-white);

    thead {
        text-align: center;
        color: var(--c-white);
        background-color: var(--c-approxNero);

        @include mobile {
            display: none;
        }

        tr > th {
            padding: 10px 15px;
        }
    }

    tbody {
        tr {
            @include mobile {
                height: auto;
                display: flex;
                padding: 30px 0;
                flex-direction: column;
            }

            td {
                padding: 10px;
                text-align: center;

                @include mobile {
                    text-align: left;
                    padding-left: 40%;
                    position: relative;
                    word-break: break-all;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    // @include tiny_mobile {
                    //     padding-left: 40px;
                    // }

                    &::before {
                        top: 0;
                        left: 30px;
                        padding: 10px;
                        font-size: 14px;
                        line-height: 1.2;
                        position: absolute;
                        font-weight: unset;
                        color: var(--c-metalGray);

                        // @include tiny_mobile {
                        //     left: 0;
                        //     padding: 0;
                        //     display: none;
                        // }
                    }

                    // Experience / formation
                    &.-date::before {
                        content: "Date";
                    }

                    &.-contract-type::before {
                        content: "Type de contrat";
                    }

                    &.-category::before {
                        content: "Catégorie";
                    }

                    &.-structure::before {
                        content: "Structure";
                    }

                    // Witness
                    &.-company::before {
                        content: "Société";
                    }

                    &.-contact::before {
                        content: "Contact";
                    }

                    &.-comment::before {
                        content: "Commentaire";
                    }

                    // Contact
                    &.-subject::before {
                        content: "Objet";
                    }

                    &.-content::before {
                        content: "Contenu";
                    }

                    &.-sended-date::before {
                        content: "Envoyer le";
                    }

                    // Common
                    &.-message::before {
                        content: "Message";
                    }

                    &.-action::before {
                        content: "Action";
                    }
                }

                &.-action {
                    vertical-align: middle;
                }

                button, a {
                    border: none;
                    font-size: 16px;
                    border-radius: 0;
                    display: inline-block;
                    background-color: transparent;

                    img {
                        height: 25px;
                    }
                }
            }

            &:nth-child(even) {
                background-color: var(--c-lightWhite);
            }

            &:hover {
                background-color: var(--c-lightGray) !important;
            }
        }
    }
}