@charset "utf-8";

body {
  margin: 0;
  background-color: var(--c-lightWhite);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  pointer-events: none;
}

a, a:hover {
  text-decoration: none !important;
}

:root {
  /* Color */
  --c-white: #ffffff;
  --c-lightWhite: #f7f8fa;
  --c-lightGray: #e8e8e8;
  --c-gray: #a9a9a9;
  --c-dimmGray: #696969;
  --c-silver: #c8c8c8;
  --c-red: #c00000;
  --c-green: #188038;
  --c-orange: #ffa500;
  --c-skyBlue: #60d9fa;
  --c-skyBlueReact: #61dafb;
  --c-blue: #2962ff;
  --c-primaryBlue: #0366d6;
  --c-shadeCyanBlue: #1b6ec2;
  --c-mediumDarkShadeCyanBlue: #1861ac;
  --c-sadBlue: #3f569b;
  --c-falseOnyx: #36304a;
  --c-approxNero: #262626;
  --c-black: #000000;
}

// Modules styles
@import "./modules/common";

/* ------------------------------------------------------ *\
                  User styles
\* ------------------------------------------------------ */
@import "./user/desktop/home";
@import "./user/desktop/about";
@import "./user/desktop/about_skills";
@import "./user/desktop/about_service";
@import "./user/desktop/portfolio";
@import "./user/desktop/news";
@import "./user/desktop/contact";
@import "./user/desktop/not_found";
@import "./user/desktop/header";
@import "./user/desktop/footer";

// Tablet styles
@import "./user/tablet/about";

// Mobile styles
@import "./user/mobile/about";
@import "./user/mobile/contact";
@import "./user/mobile/header";

/* ------------------------------------------------------ *\
                  Admin styles
\* ------------------------------------------------------ */
@import "./admin/desktop/experience";
@import "./admin/desktop/home";
@import "./admin/desktop/profile";
@import "./admin/desktop/portfolio";
@import "./admin/desktop/email";
@import "./admin/desktop/skill";

// Tablet styles
@import "./admin/tablet/home";
@import "./admin/tablet/profile";
@import "./admin/tablet/portfolio";

// Mobile styles
@import "./admin/mobile/home";
@import "./admin/mobile/portfolio";