/*------------------------------------------------------------------- 
								Contact
-------------------------------------------------------------------*/
.contact {
    // 

    .contact-info {
        display: grid;
        grid-gap: 15px;
        text-align: center;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(3, 1fr);

        // Mobile
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .contact-card {
            padding: 0;
            font-size: 0.85em;
            word-break: break-word;
            border-right: 2px solid rgba(0, 0, 0, 0.2);

            // Mobile
            @media screen and (max-width: 768px) {
                border: none;
            }
    
            &:last-child {
                border-right: none;
            }
    
            img {
                height: 40px;
            }
    
            .contact-info-phone {
                a {
                    color: var(--c-black) !important;
                }
            }
        }
    }

    /* Social Links */
    .contact-info-social-link {
        margin: auto;
        padding: 25px 0;
        max-width: 400px;

        .social-link {
            gap: 10px;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        
            li {
                margin: auto;
                display: inline-block;
                text-decoration: none;
        
                a {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    font-size: 25px;
                    line-height: 50px;
                    text-align: center;
                    border-radius: 50%;
                    color: var(--c-white);
                    background: #222222;
                    transition: all 0.3s ease-in-out;

                    img {
                        width: 30px;
                        height: 30px;
                        margin: auto;
                        display: block;
                    }
                }
            }
        }
    }
}