{% extends 'baseUser.html.twig' %}

{% block body %}
<section class="home" id="home">
    <div class="home-info wow fadeInUp animated" id="home-info">
        <h1>Garry Almeida &minus; Développeur Web FullStack</h1>
        <a class="btn-outline-secondary btnGetStarted" href="{{ path('aboutme') }}" id="btnGetStarted">Commencer</a>
    </div>
</section>
{% endblock %}
