{% extends 'baseUser.html.twig' %}

{% block body %}
<section class="home">
    <div class="home-info">
        <h1>Garry Almeida &minus; Développeur Web FullStack</h1>
        <a href="{{ path('aboutme') }}"><button class="btn btn-outline-white btn-rounded">Commencer</button></a>
    </div>
</section>
{% endblock %}
