{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            {% for mail in listMail %}
                <tr>
                    <td>{{ mail.senderFullName }}</td>
                    <td><a href="{{ path('adminReadMail', {'id': mail.id}) }}"><i class="fas fa-arrow-circle-right"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}