{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom & Prénom</th>
                <th>Email</th>
                <th>Sujet</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nom & Prénom</td>
                <td>Email</td>
                <td>Sujet</td>
                <td>Message</td>
            </tr>
        </tbody>
    </table>
{% endblock %}