{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <table class="table table-striped table-condensed">
        <tbody>
            {% if listMail != null %}
                {% for mail in listMail %}
                    <tr>
                        <td>{{ mail.senderFullName }}</td>
                        <td class="text-right"><a href="{{ path('adminReadMail', {'id': mail.id}) }}"><i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center">Il n'y a aucun mail envoyé depuis le portfolio</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}