/* ----------------------------------------------- *\
                    Introduction
\* ----------------------------------------------- */
.aboutMe-intro {
    background-color: #567787;
    color: var(--c-white);
    padding-top: 4%;
    padding-bottom: 4%;

    .intro {
        display: grid;
        grid-gap: 15px;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(3, 1fr);

        .aboutMe-intro-img {
            box-shadow: none !important;
            grid-row: 1;
            grid-column: 1;
            
            img {
                max-width: 240px;
                border-radius: 50%;
            }
        }
    
        .aboutMe-intro-intro {
            grid-row: 1;
            font-size: 20px;
            grid-column: 2 / 4;
            
            h2 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 2rem;
            }
        
            p {
                font-size: 15px;
                font-weight: 350;
            }
        
            span {
                font-size: 1.25rem;
                font-weight: 300;
            }
        }
    }
}