/*------------------------------------------------------------------- 
								Veille
-------------------------------------------------------------------*/

.veilleTechno-body a,
.veilleJurid-body a {
    color: var(--c-black);
}

.veilleTechno-body th,
.veilleJurid-body th {
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 30px 30px 0 0;
    border-top: none !important;
}

.box-part {
    background: #fff;
    border-radius: 0;
    padding: 30px 10px;
    margin: 30px 0px;
}

.box-part>.fab,
.box-part>.fas {
    color: #418307;
}

@media(max-width: 767px) {
    #veilleTechnoPubDate {
        display: none;
    }
}